.env
__pycache__/
.mypy_cache/
.tox/
.venv/
env/
pip-wheel-metadata/
*.egg-info/
*.egg
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg-info/PKG-INFO
*.egg-info/SOURCES.txt
*.egg-info/dependency_links.txt
*.egg-info/top_level.txt
*.egg-info/not-zip-safe
local_settings.py
db.sqlite3
db.json
migrations
instance
.pytest_cache

